* {
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
}
.flex-container {
  display: flex;
  flex-direction: row;
  padding: 40px 5%;
  min-height: 100vh;
}
@media screen and (max-width: 600px) {
  .flex-container {
    flex-wrap: wrap;
  }
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}
figure img {
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, .2);
}
figure figcaption {
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0;
}
p {
  font-size: 14px;
  line-height: 20px;
  max-width: 80%;
  margin: 20px auto;
}
a {
  color: currentColor;
}
#muchai {
  background: #fff;
  color: #11131c;
  margin-left: 85px;
}
#david {
  background: #11131c;
  color: #fff;
}
