p{
    font-size:50px;
    font-weight:bold;
    color: green;
}
.card{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
    width:100%;
    margin-top:30px;
    height: auto;
}

.other-cards{
    width:80%;
    margin-left: 135px;
}

.article_profile{
    border-radius: 50%;
    width:5%

}
.left_button{
    float:right;
}

.what_is_it{
    float:left;
}
.Q_&_A{
    margin-top:100px;
}
.horizontal{
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.question_profile{
    width:30px;
    border-radius:40px;
}
.mynav{
    height:80px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
}
body{
    font-family: 'Roboto Slab', serif;
    color:white;
    background-color: #4D4059;
}

.navbar_brand{
    margin-right: 5px;
    font-size:25px;
    margin-top:-15px;
}
.search_bar{
    margin-right:200px;
}
.my_elements{
    margin-left:490px;
    color: #4D4059;
}
#this_navbar{
  background-color: black;
}

a:hover{
    color: #4D4059;
    font-size: 28px;

}
.v1{
    border-left: 2px solid white;
    height: 210px;
    margin-top: -250px;
    margin-left: 270px;

}
.name{
    margin-top:230px;
    margin-bottom:100px;

}
.tag{
    margin-top:250px;
    margin-bottom:100px;
}
.tag_line{
    text-transform: uppercase;
}
.horizontal_one{
    border-bottom:2px solid  #D4C8DF;
}
.aboutt{
    margin-top:150px;
    margin-bottom: 100px;
}
#my_about{
    background-color: #D4C8DF;
    color: #4D4059;
}
#my_projects{
    background-color: white;
    color: #4D4059;
}
#my_skills{
    background-color: #4D4059;
    color: white;
    height: 500px;
}
.icon{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon:hover,.icon:hover{
    -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
   box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.skilss{
    margin-top: 30px;
    margin-bottom: 70px;
}