{%extends 'base.html'%}
{% load static %}
{% block content %}
{{ block.super}}
    <div class="container-fluid">
        <div class="row" id="my_name_and_tag">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="name">
                    <h2 class="text-center tag_line">Muchai</h2>
                    <h2 class="text-center tag_line">David</h2>
                    <h2 class="text-center tag_line">Kinuthia</h2>
                </div>
                <div class="v1"></div>
            </div>
            <div class="col-md-3">
                <div class="tag">
                    <small class="text-center small_one">Not</small>
                    <br>
                    <small class="text-center">Your Average</small>
                    <br>
                    <small class="text-center">Fullstack Developer</small>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row" id="my_about">
            <div class="col-md-3"></div>
            <div class="col-md-6 aboutt">
                <div class="about_name">
                    <h2 class="about_name_text"> MUCHAI DAVID KINUTHIA </h2>
                    <hr class="horizontal_one">
                    <h4>About Me</h4>
                </div>
                <div class="about_content">
                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex<br> ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
                </div>
            </div>
            <div class="col-md-3"></div>

        </div>
        <div class="row" id="my_projects">
            <div class="col-md-1.5"></div>
        {% for project in projects %}
           <div class="col-md-4">
                 <div class="card">
                    <img class="img-responsive" src="{{project.title_image.url}}" alt="image">
                    <div class="card-body">
                        <small><strong>Title: </strong><br>{{ project.title }}</small>
                        <br>
                        <small class="card_text small-description"><strong><small>Description:</small></strong><br>{{project.description}}</small>
                        <br>

                        <a href="{{ project.github_link }}"><small class="card_text"><strong><small>Github Link:</small></strong> <br>{{ project.title}}</small></a>
                        <br>
                        <a href="{{ project.live_link }}"><small class="card_text"><strong><small>Live Link:</small></strong> <br>{{ project.title}}</small></a>


                    </div>
              </div>
            </div>
      {% endfor %}

            <div class="col-md-1.5"></div>
        </div>
        <div class="row" id="my_skills">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4 class="text-center skilss">My Skills</h4>
                <i class="devicon-angularjs-plain colored icon"></i>
                <i class="devicon-atom-original-wordmark icon"></i>
                <i class="devicon-bootstrap-plain-wordmark icon"></i>
                <i class="devicon-django-line-wordmark icon"></i>
                <i class="devicon-git-plain-wordmark colored icon"></i>
                <i class="devicon-github-plain-wordmark icon"></i>
                <i class="devicon-heroku-original-wordmark icon"></i>
                <i class="devicon-html5-plain-wordmark colored icon"></i>
                <i class="devicon-javascript-plain colored icon"></i>
                <i class="devicon-jquery-plain-wordmark icon"></i>
                <i class="devicon-postgresql-plain-wordmark icon"></i>
                <i class="devicon-python-plain-wordmark colored icon"></i>
            </div>
            <div class="col-md-3"></div>

        </div>
    </div>
{% endblock %}